* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 900;
}
.container {
  height: 46em;
  background-color: #000000de;
  position: absolute;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 80px;
}
.again {
  background-color: aliceblue;
  padding: 15px 30px;
  font-size: 20px;
}
.between {
  color: aliceblue;
  font-size: 20px;
}


.hit {
  position: absolute;
  top: 5%;
  left: 20%;
  font-size: 15px;
  color: #fff;
}

.guess {
  color: aliceblue;
  margin-left: 35%;
  margin-top: 5%;
}
.question {
  background-color: aliceblue;
  width: 70px;
  margin-left: 47%;
  font-size: 20px;
  font-weight: 900;
  margin-top: 3%;
  height: 70px;
  padding: 10px 20px;
  padding-top: 20px;
  border-radius: 50%;
}
.container:hover .question{
    animation: ball 3s infinite ease-in-out;

}
.container:hover .rope{
  animation: ball 3s infinite ease-in-out;

}




@keyframes ball {


30%{
    background-color: yellow;
    transform:  translateX(300px);
    rotate: -30deg;
}
70%{
  background-color: green;
  transform:  translateX(-300px);
  rotate: 30deg;
}


}

@keyframes rope {
  30%{
    rotate: -20deg;
    background-color: black;

  }
}

.rope{
  position: absolute;
  width: 1px;
  height: 14%;
  top: 23%;
  background-color:aliceblue;
  margin-left: 49.3%;
}

.line {
  margin-top: -2.2%;

  background-color: aliceblue;
  height: 5px;
}

.add {
  border: 3px solid #fff;
  background-color: #00000027;
  height: 60px;
  margin-left: 5%;
  margin-top: 10%;
  font-size: 23px;
  width: 160px;
  padding-left:  70px;
  outline: none;
  padding-right: 25px;
  color: #fff;
}
.check {
  position: inherit;
  margin-top: 15%;
  padding: 10px 30px;
  margin-left: -11.5%;
  font-size: 20px;
  font-weight: 700;
}
.words {
  width: 300px;
  height: 150px;
  display: flex;
  font-size: 10px;
  width: 40%;
  color: #fff;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin-left: 28%;
  margin-top: -5%;
}
